html, body {
    font-family: Ubuntu;
}
body{
    width:100%;
    max-height: 100vh;
    box-sizing: border-box;
}
/*hr{
    height: 1px;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
}*/

#menu{
    display: grid;
    grid-template-columns: minmax(100px, 33%) minmax(100px, 33%) minmax(100px, 33%);
    /*justify-content: center;*/
    min-height: 100px;
    max-height: 15vh;
    }

#content{
    display:grid;
    grid-template-columns: minmax(100px, 20%) minmax(100px, 60%) minmax(100px, 20%);
    min-height: 600px;
}

#player_list{
    max-height: 85vh;
    overflow-y: scroll;
}

#teams_display{
    overflow-y: scroll;
    max-height: 85vh;
}

#player_list_table, td, th{
    border-collapse: collapse;
    border: 1px solid black;
}



#draft_record{
    max-height: 85vh;
    overflow-y: scroll;
}

tr[drafted=false]:hover{
    cursor: pointer;
}

#draft_status{
    overflow-y: hidden;
}

#draft_controls{
    overflow-y: hidden;
}

#quick_draft_configuration{
    overflow-y: auto;
}

#league_creator{
    overflow: auto;
}



